.stats {
    position: absolute;
    bottom: 25px;
    /* instead of top */
    left: 25px;
    /* instead of right */
    background: radial-gradient(#eee, #323A06);
    border: 1px solid #000;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.9;
}