:root {
    --primary-color: #003366;
    /* deep blue */
    --secondary-color: #0077b6;
    /* bright blue */
    --accent1-color: #333333;
    /* dark gray text */
    --accent2-color: #f2f2f2;
    /* light gray background */

    --heading-font: "Georgia", serif;
    --body-font: "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #ffffff;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    border-radius: 6px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border-radius: 4px;
}