main {
    max-width: 800px;
    margin: 0 auto;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #333;
    padding: 15px;
    background-color: #f4f4f4;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #333;
    text-align: center;
}