nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 20px;
    display: block;
}

h1 {
    color: darkblue;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px #999;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #333;
    padding: 15px;
    background-color: #f4f4f4;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #333;
    text-align: center;
}